<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title inertia>
      Archidiocèse de Los Santos
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=crimson-pro:400,600,700|inter:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

    <script defer src="https://cloud.umami.is/script.js" data-website-id="e8a449db-c0bf-4343-a356-d64be7ac238f">

    </script>

    @viteReactRefresh()
    @vite(['inertia/app.tsx'])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="flex flex-col min-h-screen bg-background font-sans antialiased text-foreground">
    @inertia()
  </body>
</html>
