database/schema.ts
.adonisjs
node_modules
build
.pnpm-store/
dist/
corerage/
tmp/
*.min.js
renovate.json
inertia/assets/images
inertia/assets/favicon
public/

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.avif
